<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<!-- If IE use the latest rendering engine -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Set the page to the width of the device and set the zoon level -->
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<title>Hotel Management System - Dashboard</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

	<style>
		/* ------------------------------------------- MAIN.CSS --------------------------------------------------------*/
		body,
		html {
			height: 100%;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
		}

		.row {
			margin: 0px;
		}

		.container-fluid {
			padding: 0px;
		}

		.glyphicon.glyphicon-home {
			font-size: 20px;
			color: rgba(189, 211, 21, 0.9);
		}

		.nav-tabs,
		.nav-pills {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			text-align: center;
			height: 20%;
			margin-bottom: 0;
		}

		.nav-tabs>li,
		.nav-pills>li {
			float: none;
			display: inline-block;
			*display: inline;
			/* ie7 fix */
			zoom: 1;
			/* hasLayout ie7 trigger */

		}

		/* Main menu options */
		.nav>li>a {
			padding-top: 20px;
			padding-bottom: 20px;
			color: whitesmoke;
		}

		.nav>li>a:hover {
			background-color: rgba(189, 211, 21, 0.9);
		}

		#header {
			background-color: rgba(0, 0, 0, 0.9);
			position: relative;
			width: 100%;
			left: 0;
		}

		#login-btn {
			margin-top: 12%;
			display: inline-block;
		}

		#profile-indicator {
			padding-top: 10px;
			text-align: center;
		}

		/* ------------------------------------------- MAIN.CSS --------------------------------------------------------*/

		/* div[class="container-fluid"] {
         outline: 4px dotted rgba(0, 0, 0, 1);
         background-color: rgb(100, 0, 0, 0.2);
      }

      div[class="row"] {
         outline: 3px dotted rgb(234, 0, 255);
      }

      div[class^="col"] {
         outline: 3px dotted rgb(189, 255, 6);
      } */

	  	.avatar {
			vertical-align: middle;
			width: 50%;
			height: 50%;
			border-radius: 50%;
			margin-bottom: 30px;
		}

		.bg {
			/* The image used */
			background-image: url("https://danw.hotglue.me/?webdesign.head.14452090501");

			/* Full height */
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;

			margin: 0px;
            padding: 0px;

			/* Center and scale the image nicely */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

        .badge {
            position: absolute;
            top: 22px;
            right: 42px;
            padding: 5px 10px;
            border-radius: 50%;
            background-color: red;
            color: white;
        }

		.details-component {
			margin-top: 15px;
			font-size: 2em;
		}

		.glyphicon.glyphicon-user {
			font-size: 150px;
		}

		.glyphicon.glyphicon-equalizer {
			font-size: 25px;
		}

		.nav-item {
			margin-left: 50px;
			font-size: 20px;
		}

		.nav>li>a.active {
			background-color: rgba(0, 0, 0, 0.9);
		}

		.nav-link {
			border-radius: 10px;
		}

		#btn-checkavailability {
			margin-right: 15px;
		}

		#content {
			/* Rounded corners */
			border-radius: 75px;

			padding-top:20px; 
			padding-bottom:20px; 
            padding-right: 15px;
			margin-top: 20px;
			margin-left:5%; 
			margin-right:5%;
			background-color: rgba(49, 3, 9, 0.3)
		}

        #content-inner {
			/* Rounded corners */
			border-radius: 40px;
			background-color: rgba(49, 3, 9, 0.3)
		}

		#content-locked {
			background-color: rgba(168, 44, 44, 0.61);
			border-radius: 25px;
			padding-top: 150px;
			padding-bottom: 150px;
		}

		#userMenu {
			position: relative;
			margin-top: 40px;
		}

		#dropdown-adult,
		#dropdown-children {
			margin-right: 30px;
			width: 25%;
		}

		#lock {
			vertical-align: middle;
			width: 50%;
			height: 50%;
			border-radius: 20%;
			margin-bottom: 30px;
		}

        #notificationsTable {
            position: relative;
            margin-left: 100px;
        }

        #noNotifications {
            padding-top: 5%;
            padding-bottom: 5%;
            text-align: center;
            color: white;
        }

		#personalDetails {
			padding-top: 30px;
			text-align: center;
			font-size: 3em;
		}

		#userIndicator {
			padding-top: 5px;
			margin-top: 10px;
			margin-bottom: 10px;
			display: inline-block;
			*display: inline;
			/* ie7 fix */
			zoom: 1;
			/* hasLayout ie7 trigger */
		}

		#viewrooms-btn {
			padding-top: 20px;
			text-align: center;
		}

		#viewrooms-btn>a {
			background-color: burlywood;
			border: none;
		}
	</style>

</head>

<body>
	<div class="container bg">

		<!-- Navigation Bar -->
		<div class="container-fluid">
			<div class="row" id="header">

				<!-- Use nav-pills, nav-tabs. To center tabs add nav-justified to the class for ul -->
				<ul class="nav nav-pills">

					<% if (userType != 'owner') { %>
						<div class="nav nav-pills col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<% if(userData != 'undefined' && userType != 'client') { %>
							<li class="text-center"><a href="../staff/schedule">SCHEDULE</a></li>
							<% } else { %>
							<li class="text-center"><a href="/">HOME</a></li>
							<% } %>
						</div>
	
						<div class="nav nav-pills col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<li class="text-center"><a href="../rooms/accommodation">ACCOMMODATION</a></li>
						</div>
	
						<div class="nav nav-pills col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<li class="text-center"><a href="../rooms/pricing">PRICING</a></li>
						</div>
					<% } else { %>
						<div class="nav nav-pills col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<li class="text-center"><a href="/"><span class="glyphicon glyphicon-equalizer"></span></a></li>
						</div>
	
						<div class="nav nav-pills col-lg-6 col-md-8 col-sm-12 col-xs-12">
						</div>
					<% } %>

					<div class="nav nav-pills col-lg-2 col-md-2 col-sm-2 col-xs-2" id="profile-indicator">
						<a href="../../dashboard"><span class="glyphicon glyphicon-home"></span></a>
						<p style="margin-bottom: 5px; color:rgba(189, 211, 21, 0.9);">Logged in as <%= userData.user.username %></p>
					</div>
					<div class="nav nav-pills col-lg-1 col-md-1 col-sm-1 col-xs-2">
						<a href="/users/logout"><button type="submit" class="btn btn-danger" role="button"
								id="login-btn">LOGOUT</button></a>
					</div>

				</ul>

			</div> <!-- home-navbar -->
		</div> <!-- container-fluid // END OF TOP NAV BAR // -->

		<!--  Dashboard page contents  -->
		<div class="container-fluid" id="content">
			<div class="row" style="color:white;">

				<!--  Profile menu part  -->
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12" id="userMenu">
					<div class="row">
						<div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<% if (userType == 'client') { %>
								<img src="../images/user.png" alt="Avatar1" class="avatar">
							<% } else if (userType == 'receptionist') { %>
								<img src="../images/receptionist.png" alt="Avatar2" class="avatar">
							<% } else if (userType == 'manager') { %>
								<img src="../images/manager.png" alt="Avatar3" class="avatar">
							<% } else if (userType == 'owner') { %>
								<img src="../images/boss.png" alt="Avatar4" class="avatar">
							<% } %>
						</div>
					</div>
					<div class="row">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link" href="../../dashboard">Profile</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="../../dashboard/payment">Payment</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="../../dashboard/notifications">
                                    Notifications 
                                    <% if(typeof notificationsArray != 'undefined' && notificationsArray.length > 0) { %>
                                        <span class="badge">
                                            <%= notificationsArray.length %>
                                        </span>
                                    <% } %>
                                </a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="progress">Progress</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="../../dashboard/settings">System settings</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-9 col-md-6 col-sm-8 col-xs-12" id="content-inner">
					<% if (userType == 'owner') { %>
						<div class="row">
							<div class="col-lg-6">
								<canvas id="pieChart1"></canvas>
							</div>
							<div class="col-lg-6">
								<canvas id="pieChart2"></canvas>
							</div>
						</div>
						<div class="row">
							<canvas id="barChart" style="height: 300px;"></canvas>
						</div>
					<% } else { %>
						<div id="content-locked">
							<div class="row">
								<div class="col-lg-4 col-lg-offset-2 text-center">
									<img src="../images/lock.png" alt="Lock" id="lock"><br>
									<div style="font-size: 20px; color:black;">Restricted resource</div>
								</div>
								<div class="col-lg-4 text-center">
									<div style="font-size: 20px; color:black; padding-top: 50px;">
										Sorry, the content of this page is only available for the owner of the hotel.
									</div>
								</div>
							</div>
						</div>
					<% } %>
				</div>
			</div>
		</div>

    </div>
    
    <!-- Pie chart -->
    <script>
        var ctx = document.getElementById('pieChart1').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'pie',

            // The data for our dataset
            data: {
                labels: ['Rooms', 'Food & Beverage', 'Spa', 'Sports'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: ['rgba(255,51,0,0.7)', 'rgba(255,204,51,0.7)', 'rgba(255,102,102,0.7)', 'rgba(153,204,51,0.7)'],
                    borderColor: 'rgba(0, 0, 0, 0.5)',
                    data: [45225, 9075, 18355, 8325]
                }]
            },

            // Configuration options go here
            options: {
                title: {
                    display: true,
                    text: 'Income',
                    fontColor: 'green',
                    fontSize: 20
                },
            }
        });

        var ctx = document.getElementById('pieChart2').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'pie',

            // The data for our dataset
            data: {
                labels: ['Salaries', 'Bills', 'Housekeeping', 'Entertainment'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: ['rgb(255, 99, 132)', 'rgb(155, 199, 232)', 'rgb(165, 99, 32)', 'rgb(175, 139, 132)', 'rgb(145, 125, 222)'],
                    borderColor: 'rgba(0, 0, 0, 0.5)',
                    data: [16325, 3150, 4275, 2450]
                }]
            },

            // Configuration options go here
            options: {
                title: {
                    display: true,
                    text: 'Expenses',
                    fontColor: 'red',
                    fontSize: 20
                },
            }
        });

        // Bar chart
        new Chart(document.getElementById("barChart"), {
            type: 'bar',
            data: {
            labels: ["November", "December", "January", "February", "March"],
            datasets: [
                {
                label: "Net won (£)",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                data: [38275,61725,42550,55150,7550]
                }
            ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Net profit',
                    fontColor: 'lightblue',
                    fontSize: 30
                },
                maintainAspectRatio: false
            }
        });
    </script>
</body>

</html>